@model IEnumerable<ActividadesComplementarias.Models.estado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre_estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idestado">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idestado">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idestado">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
